*{
    margin: 0;
    padding :0;
}
ul li{
   list-style:none;
}
html,body{
    width: 100%;
}
.main{
    width: 100%;
}
.header{
    padding: 10px 5px ;
    background-color: #eeeeee;
    text-align: center;/*tac快捷*/
}
.search{
    width:100%;
}
.search input{
    width:100%;
    box-sizing:border-box;/*把padding后的面积作为后面的面积*/
    padding :5px;
    border:1px solid #e5e5e5;
    border-radius:5px;
    text-align: center;
    outline: none;
    margin-top: 15px;
}
.content{
    width: 100%;
}
.content-items{
      width: 100%;
}
.content-item{
    display: flex;/*弹性属性*/
    padding: 10px;
    /* justify-content: center;水平居中 */
    align-items: center;/*垂直居中*/
}
.pic{
    width: 60px !important;
    height: 60px;
    border-radius: 5px;
}
.pic img{
    width: 100%;
    display: block;
    height:100%;
}
.message{
    flex:1;/*比列为1：1*/
    margin-left: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.name{
    font-size: 16px;
    margin-bottom: 8px;
}
.detail{
    font-size: 12px;
    max-width:280px;
    color:#555;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;/*文本超出打点*/
}
.footer{
    width: 100%;
    position: fixed;/*屏幕定位*/
    bottom:0px;
    padding:10px 0 5px 0;
    background-color: #eee;
    border-top: 1px solid #e5e5e5;
}
.ft-items{
    width:100%;
    display:flex;
}
.item{
    flex:1;
    text-align: center;
}
.item img{
    display: block;
    width: 20px;
    margin: 0 auto;

}
.item-name{
    font-style: 12px;
    color:#555;
}

